.section {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 10%,
    rgba(var(--color-primary), .3),
    rgba(var(--color-secondary), .3)
  );
}

.container {
  min-height: 100vh;
  padding: 0 var(--container-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  letter-spacing: 2px;
}
