.section {
background-color: #555;
  position: relative;
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  padding: 0 var(--container-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background svg {
  height: 100%;
  width: 100%;
  fill: #777;
}

.brand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: white;
}

.heading {
  letter-spacing: 2px;
  color: white;
}

