.section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 142, 50, 0.2) , rgba(255, 255, 255, .2));
}

.container {
  min-height: 100vh;
  padding: 0 var(--container-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  letter-spacing: 2px;
}